<body id="subgoalpage">

<main class="pagebody">

<h1 class="wow fadeIn">Dividing a big task into smaller ones!</h1>

<div id="subgoals-box">
<h3 class="wow fadeIn">Add Subgoals</h3>    
<%=link_to '+', newsubgoals_path, :remote=>true%>  
<div id="subgoalform">
    <br>
</div>
</div>

<%=link_to 'Next', overview_path%>
</main>    
    
    
    
    


    

    
</body>